# --------
# requires
# --------

pyramid >= 1.6

# tokenlib >= 2.0.0
# use github as long as it is not released on PyPi
git+https://github.com/mozilla-services/tokenlib

# hawkauthlib >= 2.0.0
# use github as long as it is not released on PyPi
git+https://github.com/mozilla-services/hawkauthlib.git

# --------------
# tests_requires
# --------------

webtest

# --------
# develop
# --------

pytest
pytest-cov
pip
pylint
tox
twine
wheel
